* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Shojumaru-Regular';
    src: url('fonts/Shojumaru-Regular.ttf');
}

@font-face {
    font-family: 'ConcertOne-Regular';
    src: url('fonts/ConcertOne-Regular.ttf');
}

body {
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/background_image.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.7; 
    z-index: -1; 
}

h1 {
    font-size: 38px;
    font-family: 'Shojumaru-Regular', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 0;
    color: #E82E7C; 
    text-shadow: 
        -3px -3px 0 #FFFFFF,  
        3px -3px 0 #FFFFFF,
        -3px  3px 0 #FFFFFF,
        3px  3px 0 #FFFFFF;
}

h2 {
    font-size: 25px;
    font-family: 'ConcertOne-Regular', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    color: #E82E7C; 
}

p {
    font-size: 18px;
    font-family: sans-serif;
    color: #E82E7C; 
}

.help-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


.button-container {
    text-align: center; 
    padding-top: 10px;
    padding-bottom: 5px;
}

.date-button {
    cursor: pointer;
    font-family: 'ConcertOne-Regular', sans-serif;
    background-color: white; 
    color: #E82E7C; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 40px; 
    font-size: 16px; 
}

.character-button {
    cursor: pointer;
    font-family: 'ConcertOne-Regular', sans-serif;
    background-image: linear-gradient(to bottom, #FF62A4, #FFA16D); 
    color: #ffffff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 40px; 
    font-size: 16px; 
    transition: background-image 0.3s ease-in-out; 
}

.character-button:hover {
    background-image: linear-gradient(to bottom, #FF3288, #FF8C4C);
}

.slime-box-container {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slime-box {
    width: 1200px; 
    height: 480px; 
    background-color: rgba(255, 255, 255, 0.67);
    border-radius: 40px; 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.open-card img { 
    align-self: center;
    height: auto;
    max-width: 152px;
    transition: transform 0.2s ease-in-out; 
}

.open-card:hover img {
    transform: scale(1.1); 
}

.open-card {
    appearance: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
    padding: 23% 8% 23% 8%; /*try to fix this padding; something off about it specically for Dervish slime*/
    /*padding: 35px 15px 35px 15px; this kinda works but not exactly, also similar to the percentage*/
}

.popup-overlay {
    position: fixed;
    top: 28%;
    left: 11%;
    display: none;
}

.popup-content {
    background: white;
    padding: 40px;
    border-radius: 40px;
    display: flex; 
    gap: 20px;
    width: 1200px; 
    height: 480px;
    border: #E82E7C;
    border-style: groove;
}

.popup-left {
    flex: 1; 
    padding: 30px;
}

.popup-left p {
    margin-top: 15px;
    line-height: 25px;
    text-align: center;
}

.popup-right {
    flex: 1; 
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-right img {
    max-width: 100%; 
    max-height: 100%; 
}

#close-popup {
    position: absolute;
    top: 30px;
    right: 50px;
    z-index: 1; 
}

#close-popup img {
    width: 45px;
    height: 45px;
    cursor: pointer;
}


/* Help Button */
.help-button {
    position: absolute;
    top: 10px;
    right: 40px;
}

.help-button img {
    width: 52px;
    height: 52px; 
    cursor: pointer;
}

.help-modal-container {
    display: none; /*none to hide, flex to show*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    justify-content: center;
    align-items: center;
}

.help-modal-container.show {
    display: flex; 
}

.help-modal {
    width: 597px;
    height: 300px;
    background-color: #FFEDD5;
    position: relative;
    padding: 40px;
    text-align: left; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    border: #E82E7C;
    border-style: groove;
}

.help-modal h1 {
    color: #E82E7C;
    font-family: 'ConcertOne-Regular';
    text-align: center;
    margin: 0;
    text-shadow: none;
    padding-bottom: 35px;
}

.help-modal p {
    color: #E82E7C;
    font-family: sans-serif;
    margin-top: 10px;
    text-align: left;
}

#close {
    position: absolute;
    top: 40px;
    right: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

#close img {
    width: 32px;
    height: 32px;
}
